@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500;700&display=swap');

html {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 14px;
  background-color: #222;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 700;
}

a {
  color: rgb(245, 159, 0);
}
code {
  color: rgb(255, 255, 165);
  text-shadow: 0px 0px 3px rgba(163, 255, 130, 0.25);
}

button {
  background: rgba(255, 200, 130, 0.25);
  color: rgb(255, 193, 77);
  border: solid 2px rgb(176, 114, 0);
  font-size: 1.2rem;
  padding: 0.3em 0.5em;
  border-radius: 0.5em 0;
  font-weight: 700;
  cursor: pointer;
}
button:hover {
  border-color: rgb(245, 159, 0);
  color: rgb(255, 209, 122);
}
input[type='text'] {
  background: rgba(255, 255, 165, 0.04);
  color: rgb(255, 255, 165);
  padding: 0.1em 0.3em;
  border-style: dotted;
  border-color: rgb(255, 255, 165);
  border-width: 0 0 2px 0;
}
input[type='text']:focus {
  outline: none;
  background: rgba(255, 255, 165, 0.1);
}

.num-entry {
  width: 4em;
}
.uri-entry {
  width: 20em;
}

ul.log {
  border: solid 1px rgb(255, 255, 165);
  font-size: 0.8rem;
  margin: 0;
  padding: 1em;
  max-height: 70vh;
  overflow-y: scroll;
}

ul.log li {
  list-style-type: none;
}

.test.failed {
  background-color: rgba(255, 146, 146, 0.3);
}
.test.failed:before {
  content: '❌';
  margin-right: 0.5em;
}
.test.failed .actual {
  color: rgb(255, 167, 167);
}
.test.failed .expected {
  color: rgb(84, 234, 84);
}

.test.passed {
  background-color: rgba(146, 255, 193, 0.3);
}
.test.passed:before {
  content: '✅';
  margin-right: 0.5em;
}
